<ion-view style: "left:0px;" class="titul" hide-nav-bar="true">
  <div class="bar bar-header {{xddddxdd}}">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <h1 class="title" style="font-size: large;">{{genero}}</h1>
  </div>
  <ion-content>
    <div class="pantalla">
      <div class="artistas" ng-repeat="artista in artistas" ng-click="getAlbum(artista)">

        <img src="{{artista.picture_big}}" alt="" class="img">
        <div>
          <h6><span class="art"><i class="icon ion-play"></i></span>{{artista.name}}</h6>
        </div>

      </div>


    </div>
  </ion-content>
</ion-view>