<ion-view view-title="FreePlay" style:"left:0px;" class="titul">
  <ion-content>
    <div style="background-image: url({{img}})"class="repro">
    </div>
    <div class="imgRep has-browse" style="z-index: 1;position: absolute; margin-top: 13%;">
      <h3 style="text-align: center;" >Reproduciendo</h3>
       <h4 class="artire" id="h4Red">{{artista}}</h4>
        <div><img src="{{img}}" alt="" class="imgRed"></div>
        <h4 style="text-align: center;" id="h4Red">{{cancion}}</h4>
       
    </div>
    <div style="width: 100%;height: 37%;z-index: 1;position: absolute;margin-top: 100%;">
      
      <div style="margin-top: 5%">
  
       <span  class="play" ng-click="playMedia()"><i class="icon ion-{{iconopp}}"></i></span>
      
      </div>
      <div>
       <!-- <button class="button button-block2 button-positive" style="border-radius: 200px 200px 200px 200px;margin-left: 25%;font-size: 12px;width: 50%;">
      <i class="ion-android-add-circle" style="margin-right: 6%; font-size: 20px;"></i>
  Agregar a Favoritos
</button>-->
      </div>
    </div>
  </ion-content>
</ion-view>