<ion-view view-title="Buscador" >
    <ion-content><!--
        <label class="item item-input">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="Musica">
</label>-->
    
<div class="list">

  <div class="item item-input-inset">
      <label class="item item-input">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="Musica" ng-model="musica">
</label>

    <button class="button button-small" ng-click="buscador(musica)">
      Buscar
    </button>
  </div>
  <div class="list" ng-repeat="musica in musicas">

    <a class="item item-thumbnail-left"  ng-click="getMusica(musica)">
      <img src="{{musica.album.cover_big}}">
      <h2>{{musica.title}}</h2>
      <p>{{musica.artist.name}}</p>
    </a>

    

</div>


</div>

    </ion-content>
</ion-view>