<ion-view view-title="FreePlay">
  <ion-content>
    <div class="pantalla" style="background: ##ffffff">
     <!-- <img src="img/logo.png" alt="" class="logo">
      <div class="center padding">
        <label class="item item-input">
          <i class="ion-android-mail placeholder-icon" ></i>
          <input type="email" placeholder="Ingrese su correo" ng-model="email">
      </label>
        <label class="item item-input">
          <i class="ion-android-lock placeholder-icon" ></i>
          <input type="password" placeholder="Ingrese su contraseña" ng-model="password">
      </label>
        <button ng-click="doRegister(name,email,password)" class="button button-block button-dark">Ingresar</button>
      </div>
      <a href="#" class="contraseña">Olvidé mi Contraseña: {{usuarrioLog}}</a>
      <hr>
      <button ng-click="facebook()" class="button button-block button-positive"><i class="ion-social-facebook" style="margin-right: 10px;"></i> Ingresar con Facebook</button>
      <button ng-click="google()" class="button button-block button-assertive" style="margin-top: 5px;"><i class="ion-social-googleplus"  style="margin-right: 10px;"></i> Ingresar con Google+</button>
      <a href="#/app/registrar" class="registrate">Registrate</a>
    -->
     <ion-slides  options="options" slider="data.slider" style="height: 87%;">
    <ion-slide-page>
      <img src="img/pos1.png" alt="" style="height: 100%;">
      
    </ion-slide-page>
    <ion-slide-page>
     <img src="img/pos2.png" alt="" style="height: 100%;">
    </ion-slide-page>
    <ion-slide-page>
      <img src="img/pos3.png" alt="" style="height: 100%;">
    </ion-slide-page>
    <ion-slide-page>
      <img src="img/pos4.png" alt="" style="height: 100%;">
    </ion-slide-page>
     
  </ion-slides>
<button ng-click="facebook()" class="button button-block button-positive" style="width:45%; margin-left: 3%; float:left"><i class="ion-social-facebook" style="margin-right: 10px; "></i> Facebook</button>
      <button ng-click="google()" class="button button-block button-assertive" style="width:45%; margin-left: 3%; margin-right: 3%; float:right"><i class="ion-social-googleplus"  style="margin-right: 10px;"></i> Google+</button> 
  
  </div>
  </ion-content>
  
</ion-view>