<ion-view class="titul">
  <ion-content>
    <div class="pantalla">
      <img src="../img/logo.png" alt="" class="logo">
      <form>
        <label class="item item-input">
          <i class="ion-person placeholder-icon" ></i>
          <input type="text" placeholder="Nombre y Apellidos">
      </label>
      <label class="item item-input">
          <i class="ion-android-mail placeholder-icon" ></i>
          <input type="text" placeholder="Correo Electronico">
      </label>
        <label class="item item-input">
          <i class="ion-android-lock placeholder-icon" ></i>
          <input type="password" placeholder="Password">
      </label>
      </label>
        <label class="item item-input">
          <i class="ion-calendar placeholder-icon" ></i>
          <input type="date" placeholder="Fecha Nacimiento" class="filter-date">
      </label>
      </label>
      <label class="item item-input">
          <i class="ion-male placeholder-icon"><i class="ion-female placeholder-icon"></i></i>
          <ion-radio  class="check" >Varón</ion-radio>
          <ion-radio class="check" >Mujer</ion-radio>
      </label>
      

        <button class="button button-block button-dark">Registrar</button>
      </form>
      
    </div>
  </ion-content>
</ion-view>