<ion-view view-title="{{artista}}">
  <ion-content>
    <img src="{{img}}" alt="" class="imgFav">
    <button ng-click="reproducirAleatorio()" class="button button-block2 button-positive" style="border-radius: 200px 200px 200px 200px;margin-top: -8%;margin-left: 25%;font-size: 12px;width: 50%;">
      <i class="icon ion-play" style="margin-right: 6%;"></i>
  Reproduccion aleatoria
</button>
    <div class="contenedor">
      <div class="list" ng-repeat="lista in listaEncontrado" ng-click="download(lista)">
        <div class="item item-avatar item-icon-right" style="padding-bottom: 0px; padding-top: 20px;">
          <img src="img/musica.png">
          <h2>{{lista.title}}</h2>
          <p>{{artista}}</p>
          <i class="icon ion-android-download"></i>
          <file-download fileurl="{{ lista.preview }}" linktext="Click to download"></file-download>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>