<ion-side-menus>
  <ion-side-menu-content>
    <!--<ion-nav-bar class="{{xddddxdd}}">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>-->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar {{xddddxdd}}">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list style="font-size: small;">
        <ion-item menu-close ui-sref="app.genero">
          <i class="ion-radio-waves"></i> Genero
        </ion-item>
        <ion-item menu-close ui-sref="app.buscador">
        <i class="ion-search"></i>
          Buscar
        </ion-item>
        <ion-item menu-close ui-sref="app.profile">
          <i class="ion-person"></i> Usuario
        </ion-item>
        <ion-item menu-close ng-click="logout();">
          <i class="ion-person"></i> Cerrar Sesión
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>