<ion-view  hide-nav-bar="true">
  <div class="bar bar-header {{xddddxdd}}">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <h1 class="title" style="font-size: large;">Generos</h1>
  </div>
  <ion-content>
    <div class="pantalla">

      <div class="genero" ng-repeat="genero in generos" ng-click="getArtistas(genero)">
        <img src="{{genero.picture}}" alt="" class="img">
        <div>

          <h5><span class="span"><i class="icon ion-play"></i></span>{{genero.name}}</h5>

        </div>
      </div>


    </div>


    <!--<img src="../img/pop.jpg" alt="" >-->
  </ion-content>
</ion-view>