<ion-view hide-nav-bar="true">
    <div class="bar bar-header {{xddddxdd}}">
        <button class="button button-icon icon ion-navicon" menu-toggle="right"></button>
        <h1 class="title" style="font-size: large;">Mi perfil</h1>
    </div>
    <ion-content>
        <div class="pantalla">
            <div>
                <img src="img/fondo.jpg" alt="" style="width:100%;">
            </div>
            <div class="usuario" style="margin-left: 35%;margin-top: -22%;">
                <img ng-src="{{photo}}" alt="" class='imgRedonda'>
            </div>
            <div class="card" style="border-left: 2px solid {{style}}; margin-left: 10px; margin-bottom: 2px; margin-top: 0px;">
                <div style="width:100%; margin-left: 10%; margin-top: 5%;">
                    <div>
                        <p style="font-size: small">{{nombre}}</p>
                    </div>
                </div>
            </div>
            <div class="card" style="border-left: 2px solid {{style}}; margin-left: 10px; margin-bottom: 2px; margin-top: 0px;">
                <div style="width:100%; margin-left: 10%; margin-top: 5%;">
                    <div>
                        <p style="font-size: small">{{email}}</p>
                    </div>
                </div>
            </div>
            <div class="card" style="border-bottom: 2px solid {{style}}; margin-left: 10px; margin-bottom: 2px; margin-top: 0px;">
                <div style="width:100%;">
                    <div style="margin: 0px; margin-top: 10px; padding: 10px;">
                        <p style="font-size: smaller; margin-right: 2px;">{{bienvenida}}</p>
                    </div>
                </div>
            </div>
            <div class="card" style="margin-left: 10px; margin-bottom: 2px; margin-top: 20px;">
                <div class="item item-divider" style="font-size: smaller;">
                    Selecciona tu tema favorito
                </div>
                <div class="row">
                    <div class="col">
                        <button style="background: red;" class="per-button" ng-click="changeColor(1)"></button>
                        <button style="background: blue;" class="per-button" ng-click="changeColor(2)"></button>
                        <button style="background: orange;" class="per-button" ng-click="changeColor(3)"></button>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </ion-content>