/* Empty. Add your own CSS if you like */

.genero {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 45%;
    background: #3C6DF5;
    margin-top: 2.5%;
    height: 200px;
    float: left;
}
.imgRedonda {
    border-radius:200px;
    width: 100%;
    height: 100%;
}
.img {
    width: 100%;
    height: 75%;
}
.imgFav{
    width: 100%;
    height: 40%;
}
h5 {
    margin-left: 6%;
    color: white;
    font-weight: bold;
    font-family: "titulo";
    font-size: 95%;
}

.span {
    margin-left: 2%;
}

.pantalla {
    width: 100%;
    height: 100%;
}

.span {
    background: white;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #3C6DF5;
    ;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 10px;
    text-align: center;
    width: 1.7em;
}




/*
.titul{
    font-family: "tituloP";
}*/

.artistas {
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 32%;
    background: #3C6DF5;
    margin-top: 2.5%;
    height: 120px;
    float: left;
}

h6 {
    margin-left: 5%;
    color: white;
    font-weight: bold;
    font-size: 65%;
}

.art {
    background: white;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #3C6DF5;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 10px;
    text-align: center;
    width: 1.7em;
}

.usuario{
    width: 32%;
    height: 120px;

}

.ade {
    background: white;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #3C6DF5;
    display: inline-block;
    font-weight: bold;
    line-height: 2em;
    margin-right: 8px;
    text-align: left;
    width: 9em;
}
.adde {
    background: white;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color:black;
    ;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-left: 20px;
    text-align: left;
    width: 15em;
}
.logo {
    margin: 1em 28%;
    width: 50%;
    height: 170px;
    margin-top: 10%;
}
.contraseña{
    text-decoration: none;
    color: black;
    display:block;
    text-align:center; 
}
hr{
    width: 40%;
    height: 1px;
    background-color: black;
}
.registrate{
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-left: 10%;
    font-weight: bold; 
}
.check{
    border: 0px;
    margin-left: -20px;
}
form label{
    width: 80%;
}
ion-item i{
    margin-right: 5%;
}
.contenedor{
    height: 50%;
}
.item-icon-left ion-spinner {
  float: left;
  margin-left: -3.2em;
  margin-right: 1em;
  margin-top: -0.2em;
 }

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #999;
  fill: #999;
}
.imgRed{
    width: 80%;
    margin-left: 10%;
    border-radius: 200px 200px 200px 200px;
    -webkit-filter: blur(0px);
}
.artire{
    color: white;
    text-align: center;
    margin-left: 0%;
    font-weight: bold;
}
#h4Red{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    color: white;
}
.repro{
    -webkit-filter: blur(20px) brightness(50%);
    height: 100%;
    margin-bottom: -164%;
}
.play{
    
  color: white; 
  margin-left: 10%;
  font-size: 40px;
}
h3{
    color: white;
}

.per-button{
    margin-left: 18%;
    padding: 0px;
    border-radius: 200px;
    height: 20px;
    width: 20px;
    border: 0px;
}